
<%= image_tag "/assets/icons/Dude@2x.png",:width=>"90",:height=>"90",:class => "pull-right" %>

<% @issue.issue_progresses.each do |issue_progress| %>
<div class="span9 detail-popovers" >
    <div class="popover left">
      <div class="arrow"></div>
      <h3 class="popover-title">
        <%= issue_progress.name %>
        <%= link_to '', admin_delete_progress_path(issue_progress), method: :delete, data: { confirm: 'Are you sure?' },class: "text-right close fui-cross" %>
      </h3>
      <div class="popover-content">
        <p><%= issue_progress.remark %></p>
        
      </div>
    </div>
</div>
<% end %>
<script type="text/javascript">
    $(".popover").show();
</script>
