// Place all the styles related to the home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.index_nav{
	margin-top:0px;
}

@font-face {
  font-family: 'supermarket';
  src: url('/assets/supermarket.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

html, body, form, fieldset, table, tr, td, img {
    font: 100%/150% 'supermarket';
}

h1, h2, h3, h4, input, button, select, textarea, optgroup, option, label {
    font-family: inherit;
}

td{
  font-size:15px;
}

h1{
  font-size:26px;
}
h2{
  font-size:24px;
}
h3{
  font-size:22px;
}

p{
  font-size:16px;
}

label{
  font-size:18px;
}

.navbar .nav > li > a{
  font-size:16px;
}

.form-horizontal .control-label{
  padding-top: 10px;
}

.btn{
  font-size:18px;
}

abbr[title], abbr[data-original-title] {
  cursor: help;
  border-bottom: 0px dotted #999999;
}

.error .help-block{
  margin-top:8px;
}

textarea, input[type="text"], input[type="password"], input[type="datetime"], input[type="datetime-local"], input[type="date"], input[type="month"], input[type="time"], input[type="week"], input[type="number"], input[type="email"], input[type="url"], input[type="search"], input[type="tel"], input[type="color"], .uneditable-input {
  font-family: inherit;
  font-size: 17px;
  line-height: 25px;
}

.tabs-left > .nav-tabs {
  background-color: #f3f4f5;
  margin-right: 18px;
  padding: 20px 0 150px 15px;
}

.issue-about{
  padding: 16px 45px 16px 30px;
  text-shadow: none;
  background-color: #f9f8f3;
  border: 2px solid #ebece8;
  font-size: 16px;
  line-height: 1.53875em;
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  border-radius: 6px;
}

.detail-popovers{
  margin-bottom:10px;
}

.detail-popovers .popover {
  display: block;
  margin: 0 13px 0 -3px;
  position: relative;
  max-width: 100%;
  width: 100%;
  z-index: 110;
}

.detail-popovers .popover-title{
  background-color: #3498DB;
}

.detail-popovers .popover-title a{
  float:right;
  text-align:right;
}

.detail-popovers .popover-content {
  min-height:50px;
}

.detail-popovers .btn {
  text-align: right;
  -webkit-border-radius: 0 0 6px 6px;
  -moz-border-radius: 0 0 6px 6px;
  border-radius: 0 0 6px 6px;
}

.btn-group.select {
margin-left: 0px;
margin-bottom: 0px;
}

