<div class="navbar">
  <div class="navbar-inner">
    <div class="container">
      <button type="button" class="btn btn-navbar" data-toggle="collapse" data-target="#nav-collapse-01">
      </button>
      <a href="#fakelink" class="brand fui-flat"></a>
      <div class="nav-collapse collapse" id="nav-collapse-01">
        <ul class="nav">
          <li><%= link_to t(:home), root_path%></a></li>
          <li><%= link_to t(:all_issue), admin_issues_path%> </li>
          <li><%= link_to t("users.all"), users_path%> </li>          
        </ul> <!-- /nav -->
        <ul class="nav pull-right">
          <li><%= link_to t('logout'), destroy_user_session_path, :method=>'delete' %></li>
        </ul> 
      </div><!--/.nav-collapse -->
    </div>
  </div>
</div>